@use '../variables';
@use '../mixins';

.learn-page {
  min-height: 100vh;
  padding: 120px 0 80px;
  background: #f9fafb;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }

  &__header {
    text-align: center;
    margin-bottom: 48px;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: variables.$color-primary;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &__subtitle {
    font-size: 1rem;
    color: variables.$color-gray-900;
    font-weight: 400;
  }


  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
  }

  &__loading-container {
    width: 100%;
  }

  &__empty {
    text-align: center;
    padding: 80px 0;
    font-size: 1.125rem;
    color: variables.$color-gray-600;
  }
}
