@import '../../variables';
@import '../../mixins';

.lesson-hero {
  width: 100%;
  height: 400px;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
  margin-bottom: 32px;
  box-shadow: $shadow-lg;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 12px 12px;
  }

  @include respond-to(md) {
    height: 300px;
  }
}
